@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Mono:wght@300;400&display=swap');

html,body{
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.white-placeholder::placeholder {
    color: rgba(255, 255, 255, 0.28) !important;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}